@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  border-bottom: 3px solid #212121;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .nav-menu {
  display: flex;
  list-style: none;
  gap: 100px;
  padding: 30px 0;
  z-index: 20;
  margin: 0 5%;
}
.header__nav .nav-menu .list .link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header__nav .nav-menu .list .link:hover {
  text-decoration: underline;
}
.header .burger {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.header .burger .bar {
  position: absolute;
  right: 25px;
  display: block;
  width: 2rem;
  height: 0.23rem;
  margin: 5px auto;
  border-radius: 15px;
  background-color: #212121;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-right: 0;
}
.header .burger .bar:nth-child(1) {
  width: 1.1rem;
  top: 10px;
}
.header .burger .bar:nth-child(2) {
  width: 2rem;
  top: 17px;
}
.header .burger .bar:nth-child(3) {
  width: 1.5rem;
  top: 24px;
}

.test {
  display: none;
}

.test.active {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

@media (max-width: 1200px) {
  .header__nav .logo {
    margin: 0 0 0 5%;
  }
}
@media (max-width: 768px) {
  .header {
    margin: 0 5%;
    padding: 0 16px;
    border: none;
  }
  .header__nav {
    align-items: center;
  }
  .header__nav .logo {
    margin-top: 9px;
  }
  .header__nav .nav-menu {
    margin: 0;
  }
  .header__nav .nav-menu .list {
    background-color: inherit;
  }
  .header__nav .nav-menu .list .link {
    background-color: #212121;
    color: #F6F6F6;
  }
  .header .burger {
    margin-top: 15px;
    display: block;
    cursor: pointer;
  }
  .header .burger.active .bar {
    position: absolute;
    right: 25px;
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 5px auto;
    border-radius: 15px;
    background-color: #212121;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .header .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg) translateX(-2px);
    -webkit-transform: translateY(8px) rotate(45deg) translateX(-2px);
    -moz-transform: translateY(8px) rotate(45deg) translateX(-2px);
    -ms-transform: translateY(8px) rotate(45deg) translateX(-2px);
    -o-transform: translateY(8px) rotate(45deg) translateX(-2px);
  }
  .header .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -webkit-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -moz-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -ms-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -o-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
  }
  .header .nav-menu {
    position: absolute;
    left: 0;
    top: -1000px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.8s;
    padding-bottom: 15px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    background-color: #212121;
  }
  .header .list {
    margin: 16px 0;
  }
  .header .nav-menu.active {
    top: 3rem;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0px 10px;
  }
  .header__nav {
    justify-content: space-between;
    padding-right: 10px;
  }
  .header .nav-menu {
    position: absolute;
    left: 0;
    top: -1000px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: all 0.8s;
    padding-bottom: 15px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
  }
  .header .list {
    margin: 16px 0;
  }
  .header .nav-menu.active {
    top: 3rem;
  }
}
.section1 {
  display: flex;
}
.section1 .text {
  padding-top: 42px;
  border-right: 2px solid #212121;
  display: flex;
  flex-direction: column;
  gap: 211px;
  width: 100%;
  padding-right: 120px;
}
.section1 .text .portfolio {
  display: flex;
  flex-direction: column;
}
.section1 .text .portfolio .name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #212121;
}
.section1 .text .portfolio .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  color: #212121;
}
.section1 .text .description {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-bottom: 46px;
}
.section1 .text .description .subtitle,
.section1 .text .description .call {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #212121;
}
.section1 .banner {
  background: url(../../img/graph.png) no-repeat;
  background-size: cover;
  width: 100%;
  border-right: 2px solid #212121;
}

.section2 {
  padding: 50px 0;
}
.section2 a img {
  width: 100%;
}
.section2 .wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 54px;
}
.section2 .wrapper input, .section2 .wrapper label {
  display: none;
}
.section2 .wrapper .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #212121;
  width: 80%;
}
.section2 .wrapper .button {
  width: 20%;
  background-color: #212121;
  color: white;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  padding: 20px 0 20px 13px;
  position: relative;
}
.section2 .wrapper .button::after {
  content: url(../../img/arrow.svg);
  position: absolute;
  top: 22px;
  right: 23px;
}

.wrapper-title {
  display: flex;
  align-items: center;
}
.wrapper-title .inner-1 {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 45px;
}
.wrapper-title .inner-1 .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  color: #212121;
  position: relative;
}
.wrapper-title .inner-1 .title::before {
  content: url(../../img/ellipse.svg);
  position: absolute;
  left: -40px;
}
.wrapper-title .inner-1 .desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(33, 33, 33, 0.38);
}
.wrapper-title .border {
  height: 152px;
  width: 2px;
  background: #212121;
}
.wrapper-title .inner-2 {
  width: 55%;
}
.wrapper-title .inner-2 .desc {
  text-align: left;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  padding-left: 180px;
  color: #212121;
}

.borders {
  position: relative;
}
.borders .border {
  position: absolute;
  bottom: -136px;
  height: 136px;
  width: 2px;
  left: 25%;
  background-color: black;
}

@media (max-width: 1200px) {
  .section1 {
    display: flex;
  }
  .section1 .text {
    padding-top: 42px;
    border-right: 2px solid #212121;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    padding-right: 120px;
  }
  .section1 .text .portfolio {
    display: flex;
    flex-direction: column;
  }
  .section1 .text .portfolio .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #212121;
  }
  .section1 .text .banner {
    background: url(../../img/ux-ui.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    border-right: 2px solid #212121;
  }
  .section2 .wrapper .button {
    width: 22%;
  }
}
@media (max-width: 1100px) {
  .section2 .wrapper .button {
    width: 25%;
  }
}
@media (max-width: 1000px) {
  .section1 {
    display: flex;
  }
  .section1 .text {
    padding-top: 42px;
    border-right: 2px solid #212121;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-right: 100px;
  }
  .section1 .text .portfolio {
    display: flex;
    flex-direction: column;
  }
  .section1 .text .portfolio .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 52px;
    color: #212121;
  }
  .section1 .text .banner {
    background: url(../../img/ux-ui.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    border-right: 2px solid #212121;
  }
  .section2 .wrapper .button {
    width: 27%;
  }
}
@media (max-width: 950px) {
  .section2 .wrapper .button {
    width: 30%;
  }
}
@media (max-width: 850px) {
  .section2 .wrapper .button {
    width: 36%;
  }
}
@media (max-width: 768px) {
  .section1 {
    flex-direction: column;
  }
  .section1 .text {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-right: 0px;
  }
  .section1 .text .portfolio {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 5%;
  }
  .section1 .text .portfolio .name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }
  .section1 .text .portfolio .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 52px;
    color: #212121;
  }
  .section1 .text .description {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-bottom: 46px;
    margin: 0 5%;
  }
  .section1 .text .description .subtitle,
  .section1 .text .description .call {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #212121;
  }
  .section1 .banner {
    display: none;
  }
  .wrapper-title {
    display: flex;
    align-items: normal;
    flex-direction: column;
    margin: 2.5% 5% !important;
    gap: 15px;
  }
  .wrapper-title .inner-1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 40px;
  }
  .wrapper-title .inner-1 .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #212121;
    position: relative;
  }
  .wrapper-title .inner-1 .title::before {
    content: url(../../img/ellipse.svg);
    position: absolute;
    left: -40px;
  }
  .wrapper-title .inner-1 .desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(33, 33, 33, 0.38);
    width: 100%;
  }
  .wrapper-title .border {
    display: none;
  }
  .wrapper-title .inner-2 {
    width: 100%;
  }
  .wrapper-title .inner-2 .desc {
    text-align: left;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-left: 0px;
    color: #212121;
  }
  .borders {
    position: relative;
  }
  .borders .border {
    position: absolute;
    bottom: -136px;
    height: 136px;
    width: 2px;
    left: 25%;
    background-color: black;
  }
  .section2 a img {
    width: 90%;
    display: flex;
    margin: 0 auto;
  }
  .section2 .wrapper {
    flex-direction: column;
    gap: 25px;
  }
  .section2 .wrapper .button {
    width: 250px;
  }
}
@media (max-width: 480px) {
  .section2 .wrapper {
    position: relative;
    gap: 55px;
  }
  .section2 .wrapper input, .section2 .wrapper label {
    display: block;
  }
  .section2 .wrapper .desc {
    max-height: 120px;
    overflow: hidden;
    position: relative;
  }
  .section2 .wrapper .desc .bottom {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(238, 236, 234) 100%);
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .section2 .wrapper .read-more-checker {
    opacity: 0;
    position: absolute;
  }
  .section2 .wrapper .read-more-checker:checked ~ .desc {
    max-height: none;
  }
  .section2 .wrapper .read-more-checker:checked ~ .desc .bottom {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .section2 .wrapper .read-more-checker ~ .read-more-button:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-checker:checked ~ .read-more-button:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-button {
    position: absolute;
    left: 10%;
    bottom: 80px;
  }
  .section2 .wrapper .read-more-checker2 {
    opacity: 0;
    position: absolute;
  }
  .section2 .wrapper .read-more-checker2:checked ~ .desc {
    max-height: none;
  }
  .section2 .wrapper .read-more-checker2:checked ~ .desc .bottom {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .section2 .wrapper .read-more-checker2 ~ .read-more-button2:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-checker2:checked ~ .read-more-button2:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-button2 {
    position: absolute;
    left: 10%;
    bottom: 80px;
  }
  .section2 .wrapper .read-more-checker3 {
    opacity: 0;
    position: absolute;
  }
  .section2 .wrapper .read-more-checker3:checked ~ .desc {
    max-height: none;
  }
  .section2 .wrapper .read-more-checker3:checked ~ .desc .bottom {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .section2 .wrapper .read-more-checker3 ~ .read-more-button3:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-checker3:checked ~ .read-more-button3:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-button3 {
    position: absolute;
    left: 10%;
    bottom: 80px;
  }
  .section2 .wrapper .read-more-checker4 {
    opacity: 0;
    position: absolute;
  }
  .section2 .wrapper .read-more-checker4:checked ~ .desc {
    max-height: none;
  }
  .section2 .wrapper .read-more-checker4:checked ~ .desc .bottom {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .section2 .wrapper .read-more-checker4 ~ .read-more-button4:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-checker4:checked ~ .read-more-button4:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-button4 {
    position: absolute;
    left: 10%;
    bottom: 80px;
  }
  .section2 .wrapper .read-more-checker5 {
    opacity: 0;
    position: absolute;
  }
  .section2 .wrapper .read-more-checker5:checked ~ .desc {
    max-height: none;
  }
  .section2 .wrapper .read-more-checker5:checked ~ .desc .bottom {
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .section2 .wrapper .read-more-checker5 ~ .read-more-button5:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-checker5:checked ~ .read-more-button5:before {
    content: url(../../img/read_more.svg);
  }
  .section2 .wrapper .read-more-button5 {
    position: absolute;
    left: 10%;
    bottom: 80px;
  }
  .wrapper-title {
    display: flex;
    align-items: normal;
    flex-direction: column;
    margin: 2.5% 5% !important;
    gap: 15px;
  }
  .wrapper-title .inner-1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 40px;
  }
  .wrapper-title .inner-1 .title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .wrapper-title .inner-1 .title::before {
    content: url(../../img/ellipse.svg);
    position: absolute;
    left: -40px;
    top: 4px;
  }
  .wrapper-title .inner-1 .desc {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(33, 33, 33, 0.38);
    width: 100%;
  }
}
.footer {
  position: relative;
}
.footer__form {
  position: relative;
  margin-top: 136px;
  margin-bottom: 136px;
  width: 70%;
  height: 224px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__form_text {
  background: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 62px;
  color: #F6F6F6;
  width: 410px;
}
.footer__form_button {
  background: #F6F6F6;
  padding: 25px 45px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}
.footer__form_button:hover {
  background-color: black;
  color: white;
  border: 1px solid #EEECEA;
}
.footer__form_button:active {
  color: rgba(246, 246, 246, 0.5);
  border: 1px solid rgba(246, 246, 246, 0.5);
  transform: translatey(5px);
  -webkit-transform: translatey(5px);
  -moz-transform: translatey(5px);
  -ms-transform: translatey(5px);
  -o-transform: translatey(5px);
}
.footer__contacts {
  position: relative;
  display: flex;
  align-items: center;
  height: 150px;
}
.footer__contacts .border {
  position: absolute;
  height: 150px;
  width: 2px;
  right: 40%;
  background-color: black;
  z-index: 1;
}
.footer__contacts .wrapper-1 {
  position: absolute;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__contacts .wrapper-1 .mail {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  color: black;
  text-decoration: none;
}
.footer__contacts .wrapper-1 .mail:hover {
  text-decoration-line: underline;
}
.footer__contacts .wrapper-1 .mail::before {
  position: absolute;
  content: url(../img/mail.png);
  left: -30px;
  top: 0;
}
.footer__contacts .wrapper-1 .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.footer__contacts .wrapper-2 {
  position: absolute;
  right: 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__contacts .wrapper-2 .social {
  display: flex;
  gap: 30px;
}
.footer__contacts .wrapper-2 .social a {
  padding: 6px 8px 5px;
  border: 2px solid #212121;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.footer__contacts .wrapper-2 .social a:hover {
  background-color: #F6F6F6;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
.footer__contacts .wrapper-2 .social a:hover .img {
  background-color: #F6F6F6;
}
.footer__contacts .wrapper-2 .social .img {
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

@media (max-width: 1200px) {
  .footer__form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
  }
  .footer__form_button {
    padding: 10px 15px;
  }
  .borders .border {
    height: 50px;
    top: 0;
  }
}
@media (max-width: 768px) {
  .borders .border {
    display: none;
  }
  .footer__form {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 0;
  }
  .footer__form_text {
    font-size: 30px;
    line-height: 42px;
    max-width: 90%;
  }
  .footer__form_button {
    padding: 10px 20px;
  }
  .footer .borders {
    margin-bottom: 15px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer__contacts .wrapper-2 {
    width: 0;
    position: static;
  }
  .footer__contacts .wrapper-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 0;
    position: static;
    gap: 10px;
  }
  .footer__contacts .wrapper-1 .text {
    width: 157px;
    text-align: center;
  }
  .footer__contacts .border {
    display: none;
  }
}
@media (max-width: 480px) {
  .borders .border {
    display: none;
  }
  .footer__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 10% 0;
  }
  .footer__form_text {
    font-size: 30px;
    line-height: 42px;
    max-width: 90%;
  }
  .footer__form_button {
    padding: 10px 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEECEA;
}

*:focus-visible {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.borders {
  border-top: 2px solid #212121;
}/*# sourceMappingURL=graph.css.map */