.section1 {
    display: flex;
    border-bottom: 3px solid $black;

    .text {
        width: 858px;
        padding-top: 42px;
        padding-left: 120px;
        padding-right: 84px;
        border-right: 3px solid $black;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .hi {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
        }

        .about {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 52px;
        }

        .subtitle {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: $black;
        }

        .buttons {
            position: relative;
            
            .socials {
                display: flex;
                flex-direction: column;
                gap: 36px;
                justify-content: center;

                .flex {
                    display: flex;
                    align-items: center;
                    gap: 100px;
                }

                .follow {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    color: rgba(0, 0, 0, 0.5);
                }

                .social {
                    display: flex;
                    gap: 16px;

                    a {
                        padding: 7px 7px 5px;
                        border: 2px solid $black;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    }

                    a:hover {
                        background-color: $white;
                        box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);

                        .img {
                            background-color: $white;
                        }
                    }

                    .img {
                        transition: all .5s;
                        width: 30px;
                        height: 30px;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                    }
                }

                .btns {
                    display: flex;
                    gap: 30px;

                    .request {
                        padding: 14px;
                        text-decoration: none;
                        color: $white;
                        background-color: $black;
                        border: 1px solid $black;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                    }
                    
                    .request:hover {
                        box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
                    }

                    .download {
                        padding: 14px;
                        text-decoration: none;
                        color: $black;
                        background-color: none;
                        border: 1px solid $black;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                    }

                    .download:hover {
                        box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    .banner {
        background: url(../img/banner-1.jpg) no-repeat;
        width: 582px;
        height: 572px;
    }
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;

    padding: 20px 120px;

    border-bottom: 3px solid $black;
}

.section2 {
    height: 1000px;
    padding-top: 100px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 80px;

        .block {
            display: flex;
            flex-direction: column;
            box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);

            &__header {
                display: flex;
                background-color: $black;
                width: 309px;
                height: 83px;
                align-items: center;
                justify-content: center;

                img {
                    background-color: $black;
                }
            }

            &__body {
                width: 309px;
                height: 260px;
                background-color: white;

                .lists {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    background-color: inherit;
                    padding-bottom: 15px;
                    margin-right: 55px;
                    margin-left: 50px;
                    margin-top: 25px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;

                    .list {
                        background-color: inherit;
                    }
                }

                .lists-2 {
                    display: flex;
                    flex-direction: column;

                    background-color: inherit;
                    padding-bottom: 15px;
                    margin-right: 55px;
                    margin-left: 50px;
                    margin-top: 25px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;

                    .tools {
                        background-color: inherit;
                        position: relative;
                        left: -20px;
                        padding-bottom: 15px;
                    }

                    .list {
                        background-color: inherit;
                    }
                }
            }
        }
    }
}

.section3 {
    border-top: 3px solid $black;
    border-bottom: 3px solid $black;
    display: flex;

    .banner {
        background: url(../img/banner-2.png) no-repeat;
        width: 858px;
        height: 565px;
    }

    .text {
        width: 582px;
        height: 565px;
        background-color: $black;
        padding-left: 62px;
        padding-right: 128px;
        display: flex;
        flex-direction: column;
        gap: 41px;

        .title-exp {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 62px;
            background-color: inherit;
            color: $white;
        }

        .subtitle {
            background-color: inherit;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: $white;
        }

        .msg {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 138%;
            background-color: inherit;
            color: $white;
        }

        .lists {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 138%;
            background-color: $black;
            color: $white;
        }

        .list {
            margin-left: 25px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 138%;
            background-color: $black;
            color: $white;
        }

        .education {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 138%;
            background-color: $black;
            color: $white;
        }
    }
}

@media (max-width: 768px) {

    .section1 {
        border: none;
        margin: 0 10px;

        .text {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-top: 50px;
            border: none;

            .about {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 38px;
            }

            .buttons {

                .socials {

                    .flex {
                        flex-direction: column;
                        gap: 15px;
                    }
                }

                .btns {
                    justify-content: space-between;
                }
            }
        }

        .banner {
            display: none;

        }
    }

    .section2 {
        height: 2300px;
    }

    .section3 {
        flex-direction: column-reverse;
        border: none;

        .text {
            width: 100%;
            height: 690px;
        }

        .banner {
            background: url(../img/banner-2-monile.jpg) no-repeat;
            background-size: 100%;
            width: auto;
            // height: auto;
        }
    }
}