@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  border-bottom: 3px solid #212121;
}
.header__nav .nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 30px 0;
  z-index: 20;
}
.header__nav .nav-menu .list .link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #212121;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header__nav .nav-menu .list .link:hover {
  text-decoration: underline;
}
.header .burger {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.header .burger .bar {
  position: absolute;
  right: 25px;
  display: block;
  width: 2rem;
  height: 0.23rem;
  margin: 5px auto;
  border-radius: 15px;
  background-color: #212121;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-right: 0;
}
.header .burger .bar:nth-child(1) {
  width: 1.1rem;
  top: 10px;
}
.header .burger .bar:nth-child(2) {
  width: 2rem;
  top: 17px;
}
.header .burger .bar:nth-child(3) {
  width: 1.5rem;
  top: 24px;
}

.test {
  display: none;
}

.test.active {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

@media (max-width: 1024px) {
  .header {
    border: none;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 16px;
  }
  .header__nav .nav-menu .list {
    background-color: inherit;
  }
  .header__nav .nav-menu .list .link {
    background-color: #212121;
    color: #F6F6F6;
  }
  .header .burger {
    margin-top: 15px;
    display: block;
    cursor: pointer;
  }
  .header .burger.active .bar {
    position: absolute;
    right: 25px;
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 5px auto;
    border-radius: 15px;
    background-color: #212121;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .header .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .burger.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg) translateX(-2px);
    -webkit-transform: translateY(4px) rotate(45deg) translateX(-2px);
    -moz-transform: translateY(4px) rotate(45deg) translateX(-2px);
    -ms-transform: translateY(4px) rotate(45deg) translateX(-2px);
    -o-transform: translateY(4px) rotate(45deg) translateX(-2px);
  }
  .header .burger.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg) translateX(-2px);
    -webkit-transform: translateY(-12px) rotate(-45deg) translateX(-2px);
    -moz-transform: translateY(-12px) rotate(-45deg) translateX(-2px);
    -ms-transform: translateY(-12px) rotate(-45deg) translateX(-2px);
    -o-transform: translateY(-12px) rotate(-45deg) translateX(-2px);
  }
  .header .nav-menu {
    position: absolute;
    left: -100%;
    top: 3rem;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 15px;
  }
  .header .list {
    margin: 16px 0;
  }
  .header .nav-menu.active {
    left: 0;
    background-color: #212121;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0px 10px;
  }
  .header__nav {
    justify-content: space-between;
    padding-right: 10px;
  }
  .header .nav-menu {
    position: absolute;
    left: -100%;
    top: 3rem;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding-bottom: 15px;
  }
  .header .list {
    margin: 16px 0;
  }
  .header .nav-menu.active {
    left: 0;
  }
}
.section1 {
  display: flex;
}
.section1 .text {
  width: 858px;
  padding-top: 42px;
  padding-left: 120px;
  padding-right: 84px;
  border-right: 3px solid #212121;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section1 .text .hi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
}
.section1 .text .about {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
}
.section1 .text .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #212121;
}
.section1 .text .buttons {
  position: relative;
}
.section1 .text .buttons .socials {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.section1 .text .buttons .socials .flex {
  display: flex;
  align-items: center;
  gap: 50px;
}
.section1 .text .buttons .socials .follow {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}
.section1 .text .buttons .socials .social {
  display: flex;
  gap: 16px;
}
.section1 .text .buttons .socials .social a {
  padding: 6px 8px 5px;
  border: 2px solid #212121;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.section1 .text .buttons .socials .social a:hover {
  background-color: #F6F6F6;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
.section1 .text .buttons .socials .social a:hover .img {
  background-color: #F6F6F6;
}
.section1 .text .buttons .socials .social .img {
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.section1 .text .buttons .socials .btns {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.section1 .text .buttons .socials .btns .request {
  padding: 12px;
  text-decoration: none;
  color: #F6F6F6;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.section1 .text .buttons .socials .btns .request:hover {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
.section1 .text .buttons .socials .btns .download {
  padding: 12px;
  text-decoration: none;
  color: #212121;
  background-color: none;
  border: 1px solid #212121;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.section1 .text .buttons .socials .btns .download:hover {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
.section1 .banner {
  background: url(../img/banner-1.jpg) no-repeat;
  width: 826px;
  border-right: 3px solid #212121;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  padding: 20px 120px;
  border-top: 3px solid #212121;
  border-bottom: 3px solid #212121;
}

.section2 {
  height: 1000px;
  padding-top: 100px;
}
.section2 .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 80px;
}
.section2 .wrapper .block {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
}
.section2 .wrapper .block__header {
  display: flex;
  background-color: #212121;
  width: 309px;
  height: 83px;
  align-items: center;
  justify-content: center;
}
.section2 .wrapper .block__header img {
  background-color: #212121;
}
.section2 .wrapper .block__body {
  width: 309px;
  height: 260px;
  background-color: white;
}
.section2 .wrapper .block__body .lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: inherit;
  padding-bottom: 15px;
  margin-right: 55px;
  margin-left: 50px;
  margin-top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.section2 .wrapper .block__body .lists .list {
  background-color: inherit;
}
.section2 .wrapper .block__body .lists-2 {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding-bottom: 15px;
  margin-right: 55px;
  margin-left: 50px;
  margin-top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.section2 .wrapper .block__body .lists-2 .tools {
  background-color: inherit;
  position: relative;
  left: -20px;
  padding-bottom: 15px;
}
.section2 .wrapper .block__body .lists-2 .list {
  background-color: inherit;
}

.borders {
  border-top: 3px solid #212121;
}

.section3 {
  display: flex;
  border-right: 3px solid #212121;
  border-left: 3px solid #212121;
}
.section3 .banner {
  background: url(../img/banner-2.png) no-repeat;
  width: 858px;
  height: 565px;
}
.section3 .text {
  width: 582px;
  height: 565px;
  background-color: #212121;
  padding-left: 62px;
  padding-right: 128px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.section3 .text .title-exp {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  background-color: inherit;
  color: #F6F6F6;
}
.section3 .text .subtitle {
  background-color: inherit;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #F6F6F6;
}
.section3 .text .msg {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  background-color: inherit;
  color: #F6F6F6;
}
.section3 .text .lists {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  background-color: #212121;
  color: #F6F6F6;
}
.section3 .text .list {
  margin-left: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  background-color: #212121;
  color: #F6F6F6;
}
.section3 .text .education {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 138%;
  background-color: #212121;
  color: #F6F6F6;
}

.section4 {
  background-color: #212121;
  overflow: hidden;
}
.section4 .swiper-container {
  text-align: center;
}

@media (max-width: 768px) {
  .section1 {
    border: none;
    margin: 0 10px;
  }
  .section1 .text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0px;
    border: none;
  }
  .section1 .text .about {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .section1 .text .buttons .socials .flex {
    flex-direction: column;
    gap: 15px;
  }
  .section1 .text .buttons .btns .request {
    font-size: 13px;
  }
  .section1 .banner {
    display: none;
  }
  .title {
    font-size: 30px;
    padding: 0 10px;
  }
  .section2 {
    height: 2300px;
  }
  .section3 {
    flex-direction: column-reverse;
    border: none;
  }
  .section3 .text {
    width: 100%;
    height: 690px;
  }
  .section3 .banner {
    background: url(../img/banner-2-monile.jpg) no-repeat;
    background-size: 100%;
    width: auto;
  }
}
@media (max-width: 480px) {
  .section1 {
    border: none;
    margin: 0 10px;
  }
  .section1 .text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 10px;
    border: none;
  }
  .section1 .text .about {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .section1 .text .buttons .socials .flex {
    flex-direction: column;
    gap: 15px;
  }
  .section1 .text .buttons .socials .btns {
    justify-content: space-evenly;
  }
  .section1 .text .buttons .socials .btns .request {
    display: flex;
    font-size: 13px;
    align-items: center;
  }
  .section1 .text .buttons .socials .btns .download {
    display: flex;
    font-size: 13px;
    align-items: center;
  }
  .title {
    padding: 0 10px;
    font-size: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEECEA;
}

*:focus-visible {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */