@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  border-bottom: 3px solid #212121;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .nav-menu {
  display: flex;
  list-style: none;
  gap: 87px;
  padding: 30px 0;
  z-index: 20;
  margin: 0 5%;
}
.header__nav .nav-menu .list .link {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #212121;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header__nav .nav-menu .list .link:hover {
  text-decoration: underline;
}
.header .burger {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.header .burger .bar {
  position: absolute;
  right: 25px;
  display: block;
  width: 2rem;
  height: 2px;
  margin: 5px auto;
  border-radius: 15px;
  background-color: #212121;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-right: 0;
}
.header .burger .bar:nth-child(1) {
  width: 1.1rem;
  height: 2px;
  top: 10px;
}
.header .burger .bar:nth-child(2) {
  width: 2rem;
  height: 2px;
  top: 17px;
}
.header .burger .bar:nth-child(3) {
  width: 1.5rem;
  height: 2px;
  top: 24px;
}

.test {
  display: none;
}

.test.active {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

@media (max-width: 1200px) {
  .header__nav .logo {
    margin: 0 0 0 5%;
  }
}
@media (max-width: 768px) {
  .header__nav .logo {
    margin: 0 0 0 -10px;
  }
  .header {
    margin: 0 5%;
    padding: 0 16px;
    border: none;
  }
  .header__nav {
    align-items: center;
  }
  .header__nav .logo {
    margin-top: 9px;
  }
  .header__nav .nav-menu {
    margin: 0;
  }
  .header__nav .nav-menu .list {
    background-color: inherit;
  }
  .header__nav .nav-menu .list .link {
    background-color: #212121;
    color: #F6F6F6;
  }
  .header .burger {
    margin-top: 15px;
    display: block;
    cursor: pointer;
  }
  .header .burger.active .bar {
    position: absolute;
    right: 25px;
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin: 5px auto;
    border-radius: 15px;
    background-color: #212121;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .header .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .header .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg) translateX(-2px);
    -webkit-transform: translateY(8px) rotate(45deg) translateX(-2px);
    -moz-transform: translateY(8px) rotate(45deg) translateX(-2px);
    -ms-transform: translateY(8px) rotate(45deg) translateX(-2px);
    -o-transform: translateY(8px) rotate(45deg) translateX(-2px);
  }
  .header .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -webkit-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -moz-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -ms-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
    -o-transform: translateY(-8px) rotate(-45deg) translateX(-2px);
  }
  .header .nav-menu {
    position: absolute;
    left: 0;
    top: -1000px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.8s;
    padding-bottom: 15px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    background-color: #212121;
  }
  .header .list {
    margin: 16px 0;
  }
  .header .nav-menu.active {
    top: 3rem;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 0px 10px;
  }
  .header__nav {
    justify-content: space-between;
    padding-right: 10px;
  }
  .header .nav-menu {
    position: absolute;
    left: 0;
    top: -1000px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: all 0.8s;
    padding-bottom: 15px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
  }
  .header .list {
    margin: 16px 0;
  }
  .header .nav-menu.active {
    top: 3rem;
  }
}
.section1 {
  display: flex;
}
.section1 .text {
  padding-top: 42px;
  padding-right: 84px;
  border-right: 2px solid #212121;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section1 .text .hi {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 36px;
}
.section1 .text .about {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
}
.section1 .text .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #212121;
}
.section1 .text .buttons {
  position: relative;
}
.section1 .text .buttons .socials {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}
.section1 .text .buttons .socials .flex {
  display: flex;
  align-items: center;
  gap: 50px;
}
.section1 .text .buttons .socials .follow {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}
.section1 .text .buttons .socials .social {
  display: flex;
  gap: 16px;
}
.section1 .text .buttons .socials .social a {
  padding: 8px 8px 5px;
  border: 2px solid #212121;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.section1 .text .buttons .socials .social a:hover {
  background-color: rgb(152, 152, 152);
}
.section1 .text .buttons .socials .social a:hover .img {
  background-color: rgb(152, 152, 152);
}
.section1 .text .buttons .socials .social .img {
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.section1 .text .buttons .socials .btns {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
}
.section1 .text .buttons .socials .btns .request {
  padding: 18px 32px;
  text-decoration: none;
  color: #F6F6F6;
  background-color: #212121;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.section1 .text .buttons .socials .btns .request:hover {
  background-color: #EEECEA;
  color: #212121;
}
.section1 .text .buttons .socials .btns .request:active {
  background-color: #EEECEA;
  color: grey;
  transform: translatey(5px);
  -webkit-transform: translatey(5px);
  -moz-transform: translatey(5px);
  -ms-transform: translatey(5px);
  -o-transform: translatey(5px);
}
.section1 .text .buttons .socials .btns .download {
  padding: 18px 32px;
  text-decoration: none;
  color: #212121;
  background-color: none;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.section1 .text .buttons .socials .btns .download:hover {
  background-color: rgb(152, 152, 152);
  cursor: pointer;
}
.section1 .text .buttons .socials .btns .download:active {
  background-color: #212121;
  color: rgba(246, 246, 246, 0.5);
  transform: translatey(5px);
  -webkit-transform: translatey(5px);
  -moz-transform: translatey(5px);
  -ms-transform: translatey(5px);
  -o-transform: translatey(5px);
}
.section1 .banner {
  background: url(../img/banner-1.jpg) no-repeat;
  background-size: 100%;
  width: 100%;
  border-right: 2px solid #212121;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  padding: 20px 0;
}

.section2 {
  padding-bottom: 130px;
  padding-top: 100px;
}
.section2 .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 80px;
}
.section2 .wrapper .block {
  display: flex;
  flex-direction: column;
}
.section2 .wrapper .block__header {
  display: flex;
  background-color: white;
  width: 335px;
  height: 110px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.section2 .wrapper .block__header_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  background-color: white;
}
.section2 .wrapper .block__header img {
  background-color: white;
  width: 40px;
}
.section2 .wrapper .block__body {
  width: 335px;
  height: 220px;
  background-color: white;
  padding-left: 28px;
}
.section2 .wrapper .block__body .lists {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: inherit;
  padding-bottom: 15px;
  margin-right: 25px;
  margin-left: 35px;
}
.section2 .wrapper .block__body .lists .list {
  background-color: inherit;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.section2 .wrapper .block__body .lists-2 {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding-bottom: 15px;
  margin-right: 55px;
  margin-left: 50px;
  margin-top: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}
.section2 .wrapper .block__body .lists-2 .tools {
  background-color: inherit;
  position: relative;
  left: -20px;
  padding-bottom: 15px;
}
.section2 .wrapper .block__body .lists-2 .list {
  background-color: inherit;
}

.title-black {
  background-color: #212121;
}

.title-exp {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  padding: 20px 0;
  background: #212121;
}

.wrapper-sect {
  border-top: 2px solid white;
  background-color: #212121;
}

.section3 {
  display: flex;
  background: #212121;
}
.section3 .banner {
  background: url(../img/banner-2.png) no-repeat;
  background-size: cover;
  background-color: #212121;
  background-size: cover;
  width: 624px;
  height: 583px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  padding-bottom: 870px;
}
.section3 .text {
  width: 45%;
  background: inherit;
  padding-left: 103px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding-right: 10px;
  padding-top: 39px;
  padding-bottom: 30px;
}
.section3 .text .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  background: none;
  color: #F6F6F6;
  position: relative;
}
.section3 .text .subtitle::before {
  position: absolute;
  content: url(../img/quotes.svg);
  left: -80px;
  top: 0;
}
.section3 .text .desc {
  display: flex;
  flex-direction: column;
  gap: 17px;
  background: inherit;
}
.section3 .text .msg {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: none;
  color: #F6F6F6;
}

.title-port {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  padding: 20px 0;
}

.section4 {
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}
.section4 .wrapper {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.section4 .wrapper a {
  text-decoration: none;
}
.section4 .wrapper .block-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .wrapper .block-1 .mask {
  opacity: 1;
}
.section4 .wrapper .block-1 .img {
  background: url(../img/ux-ui.jpg);
  background-size: contain;
  width: 350px;
  height: 350px;
  position: relative;
}
.section4 .wrapper .block-1 .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #212121;
}
.section4 .wrapper .block-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .wrapper .block-2 .img {
  background: url(../img/graph.png);
  background-size: contain;
  width: 350px;
  height: 350px;
  position: relative;
}
.section4 .wrapper .block-2 .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #212121;
}
.section4 .wrapper .block-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .wrapper .block-3 .img {
  background: url(../img/illustration.jpg);
  background-size: contain;
  width: 350px;
  height: 350px;
  position: relative;
}
.section4 .wrapper .block-3 .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #212121;
}
.section4 .wrapper .block-1:hover .img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.7);
  z-index: 10;
}
.section4 .wrapper .block-1:hover .img::before {
  content: url(../img/ui.svg);
  position: absolute;
  z-index: 20;
  left: 62px;
  top: 40%;
}
.section4 .wrapper .block-2:hover .img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.7);
  z-index: 10;
}
.section4 .wrapper .block-2:hover .img::before {
  content: url(../img/GD.svg);
  position: absolute;
  z-index: 20;
  left: 50px;
  top: 35%;
}
.section4 .wrapper .block-3:hover .img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 33, 33, 0.7);
  z-index: 10;
}
.section4 .wrapper .block-3:hover .img::before {
  content: url(../img/ill.svg);
  position: absolute;
  z-index: 20;
  left: 35px;
  top: 40%;
}

.borders {
  position: relative;
}
.borders .border {
  position: absolute;
  bottom: -136px;
  height: 136px;
  width: 2px;
  left: 25%;
  background-color: black;
}

@media (max-width: 1200px) {
  .section1 {
    margin: 0 5%;
  }
  .section1 .text {
    margin-left: 5%;
    width: 50%;
    padding-right: 20px;
  }
  .section1 .text .buttons .socials .flex {
    gap: 20px;
  }
  .section1 .text .buttons .socials .btns {
    justify-content: left;
  }
  .section1 .text .buttons .socials .btns .request {
    padding: 12px 20px;
    font-size: 17px;
  }
  .section1 .text .buttons .socials .btns .download {
    padding: 12px 20px;
    font-size: 17px;
  }
  .section1 .banner {
    width: 50%;
    background-position: center;
    background-size: cover;
  }
  .section2 {
    padding: 5% 0;
  }
  .section2 .wrapper {
    gap: 35px;
    margin: 0 5%;
  }
  .title {
    padding: 20px 5%;
  }
  .title-exp {
    padding: 20px 5%;
  }
  .title-port {
    padding: 20px 5%;
  }
  .section3 {
    display: flex;
    flex-direction: column-reverse;
  }
  .section3 .banner {
    background: url(../img/banner-2.png) no-repeat;
    background-size: cover;
    background-color: #212121;
    background-size: cover;
    width: 100%;
    height: 10px;
    border-right: none;
    border-left: none;
    border-top: 2px solid white;
    padding-bottom: 870px;
  }
  .section3 .text {
    width: 100%;
    background: inherit;
    padding-left: 103px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding-right: 10px;
    padding-top: 39px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .section1 {
    padding-top: 20px;
    border: none;
    margin: 0 10px !important;
  }
  .section1 .text {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0px;
    border: none;
    gap: 10px;
  }
  .section1 .text .about {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .section1 .text .buttons .socials .flex {
    flex-direction: column;
    gap: 15px;
  }
  .section1 .text .buttons .btns {
    justify-content: space-evenly;
  }
  .section1 .text .buttons .btns .request {
    font-size: 13px;
  }
  .section1 .banner {
    display: none;
  }
  .title-port {
    padding: 10px 32px;
    font-size: 30px;
  }
  .title {
    padding: 10px 32px;
    font-size: 30px;
  }
  .title-black .title-exp {
    padding: 10px 32px;
    font-size: 30px;
  }
  .section2 {
    padding: 50px 0;
  }
  .section2 .wrapper {
    gap: 30px;
  }
  .section2 .wrapper .block__header {
    padding: 10px 0px;
    width: 100%;
  }
  .section2 .wrapper .block__body {
    width: 20rem;
    height: 100%;
  }
  .section2 .wrapper .block__body .lists {
    gap: 10px;
    font-size: 15px;
  }
  .container {
    margin: none;
  }
  .section3 {
    flex-direction: column-reverse;
    border: none;
  }
  .section3 .text {
    width: 100%;
    border-right: none;
    padding-bottom: 10px;
    padding-left: 32px;
  }
  .section3 .text .subtitle::before {
    display: none;
  }
  .section3 .banner {
    background: url(../img/banner-2-monile.jpg) no-repeat;
    background-size: 100%;
    width: auto;
    height: 10rem;
    padding-bottom: 70%;
    border: none;
  }
  .section4 .wrapper {
    gap: 40px;
  }
  .section4 .wrapper .block img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .section1 {
    border: none;
    margin: 0 10px;
  }
  .section1 .text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 10px;
    border: none;
  }
  .section1 .text .about {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
  }
  .section1 .text .buttons .socials .flex {
    flex-direction: column;
    gap: 15px;
  }
  .section1 .text .buttons .socials .btns {
    justify-content: left;
    gap: 10px;
  }
  .section1 .text .buttons .socials .btns .request {
    display: flex;
    font-size: 15px;
    align-items: center;
  }
  .section1 .text .buttons .socials .btns .download {
    display: flex;
    font-size: 15px;
    align-items: center;
  }
  .title {
    padding: 0 32px;
    font-size: 30px;
  }
  .title-black .title-exp {
    padding: 0 32px;
    font-size: 30px;
  }
  .title-port {
    padding: 0 32px;
    font-size: 30px;
  }
  .section2 {
    padding: 50px 0;
  }
  .section2 .wrapper {
    gap: 30px;
  }
  .section2 .wrapper .block__header {
    padding: 10px 0px;
    width: 100%;
  }
  .section2 .wrapper .block__body {
    width: 20rem;
    height: 100%;
  }
  .section2 .wrapper .block__body .lists {
    gap: 10px;
    font-size: 15px;
  }
  .section3 .text {
    padding-left: 32px;
  }
}
.footer {
  position: relative;
}
.footer__form {
  position: relative;
  margin-top: 136px;
  margin-bottom: 136px;
  width: 70%;
  height: 224px;
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__form_text {
  background: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 62px;
  color: #F6F6F6;
  width: 410px;
}
.footer__form_button {
  background: #F6F6F6;
  padding: 24px 50px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
  color: black;
  text-decoration: none;
  border: 2px solid black;
}
.footer__form_button:hover {
  background-color: #212121;
  color: white;
  border: 2px solid #EEECEA;
}
.footer__form_button:active {
  color: rgba(246, 246, 246, 0.5);
  border: 1px solid rgba(246, 246, 246, 0.5);
  transform: translatey(5px);
  -webkit-transform: translatey(5px);
  -moz-transform: translatey(5px);
  -ms-transform: translatey(5px);
  -o-transform: translatey(5px);
}
.footer__contacts {
  position: relative;
  display: flex;
  align-items: center;
  height: 150px;
}
.footer__contacts .border {
  position: absolute;
  height: 150px;
  width: 2px;
  right: 40%;
  background-color: black;
  z-index: 1;
}
.footer__contacts .wrapper-1 {
  position: absolute;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__contacts .wrapper-1 .mail {
  position: relative;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  color: black;
  text-decoration: none;
}
.footer__contacts .wrapper-1 .mail:hover {
  text-decoration-line: underline;
}
.footer__contacts .wrapper-1 .mail::before {
  position: absolute;
  content: url(../img/mail.png);
  left: -30px;
  top: 0;
}
.footer__contacts .wrapper-1 .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.footer__contacts .wrapper-2 {
  position: absolute;
  right: 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__contacts .wrapper-2 .social {
  display: flex;
  gap: 30px;
}
.footer__contacts .wrapper-2 .social a {
  padding: 8px 8px 5px;
  border: 2px solid #212121;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.footer__contacts .wrapper-2 .social a:hover {
  background-color: rgb(152, 152, 152);
}
.footer__contacts .wrapper-2 .social a:hover .img {
  background-color: rgb(152, 152, 152);
}
.footer__contacts .wrapper-2 .social .img {
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

@media (max-width: 1200px) {
  .footer__form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 83%;
  }
  .footer__form_button {
    padding: 22px 45px;
  }
  .borders .border {
    height: 50px;
    top: 0;
  }
}
@media (max-width: 768px) {
  .borders .border {
    display: none;
  }
  .footer__form {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 0;
  }
  .footer__form_text {
    font-size: 30px;
    line-height: 42px;
    max-width: 90%;
  }
  .footer__form_button {
    padding: 12px 40px;
    font-size: 17px;
  }
  .footer .borders {
    margin-bottom: 15px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .footer__contacts .wrapper-2 {
    width: 0;
    position: static;
  }
  .footer__contacts .wrapper-1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 0;
    position: static;
    gap: 10px;
  }
  .footer__contacts .wrapper-1 .text {
    width: 157px;
    text-align: center;
  }
  .footer__contacts .border {
    display: none;
  }
}
@media (max-width: 480px) {
  .borders .border {
    display: none;
  }
  .footer__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 10% 0;
  }
  .footer__form_text {
    font-size: 30px;
    line-height: 42px;
    max-width: 90%;
  }
  .footer__form_button {
    padding: 10px 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #EEECEA;
}

*:focus-visible {
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.borders {
  border-top: 2px solid #212121;
}/*# sourceMappingURL=styles.css.map */